[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Sunaba Player
GenericName=Game Player
Icon=sunaba-icon
Comment=Go to the Ubuntu official website.
Exec=sunaba
Terminal=false
Type=Application
Categories=Application;Games;Development;