Package: sunaba-player
Version: 0.7.0            # package version
Architecture: amd64       # our package sums up to a bash script and this is POSIX
Essential: no           # essential to the system ?
Priority: optional      # install order in package management system
Depends: libluajit-5.1-2, libluajit-5.1-common    # comma-separated dependency packages (,)
Maintainer: mintkat (sunaba.gg)
Description: A LuaJIT-based player for the Sunaba game engine.
 This package contains the player binary and its dependencies.
 It is designed to run SBX executables written for the Sunaba game engine.
 The player is built using LuaJIT for performance and compatibility.
Homepage: https://sunaba.gg